In [1]:
import pandas as pd
import requests

In [37]:
#!pip install requests

In [38]:
#url = "https://api.openweathermap.org/data/3.0/onecall?lat=-37.840935&lon=144.946457&exclude=minutely&appid=c92389d6904463e3cb24208905434fd9"
url = "https://api.openweathermap.org/data/2.5/weather?lat=-37.840935&lon=144.946457&appid=c92389d6904463e3cb24208905434fd9"
response = requests.get(url)

In [39]:
json = response.json()

In [40]:
weather = json['weather'][0]['main']

In [39]:
weather = 'Rain'

In [41]:
# data1 = pd.read_csv('outdoor.csv')
data = pd.read_sql('''select * from outdoor''', conn)
# data= data.drop(['Rating'], axis = 1)
data = data.astype({'id': 'int64'})

In [42]:
# data = data.drop(['Unnamed: 0','Rating'], axis = 1)

In [43]:
data.head()

,id,title,theme,sub_theme,latitude,longitude,green_space,walking,cardio,sightseeing,content
0,1001,Lynch''''s Bridge Mosaic Mural,Mural,Sculpture,144.924,-37.7902,0,0,0,1,Go for a walk to
1,1002,Coles Fountain,Fountain,Memorials,144.973,-37.8098,0,0,0,1,Go for a walk to
2,1003,Beyond the Ocean of Existence,Sculpture,Sculpture,144.967,-37.8164,0,0,0,1,Go for a walk to
3,1004,Vault,Sculpture,Sculpture,144.968,-37.8261,0,0,0,1,Go for a walk to
4,1005,Sir Thomas Blamey Memorial,Memorial,Sculpture,144.973,-37.8263,0,0,0,1,Go for a walk to

In [44]:
data['id'].dtype

dtype('int64')

In [560]:
id = [1011, 1074, 1273, 1180, 2002]
Rating = [2,2, 1, 1, 2]
user = pd.DataFrame()
user["id"] = id
user["Rating"] = Rating

In [46]:
user_id = 4321

In [47]:
sql_query = 'select * from user_rating where web_id = "{}"'.format(user_id)
user = pd.read_sql(sql_query, conn)

In [48]:
user

   web_id   iid  rating
0    4321  2029       1

In [49]:
pref = ['Walking', 'Cardio', 'Cycling', 'Dog']
if 'Cycling' in pref:
    if weather == 'Rain':
        n = 2
    else:
        n = 3
# elif 'Dog' in pref:
#     if weather == 'Rain':
#         n = 3
#     else: 
#         n = 2
else:
    if weather == 'Rain':
        n = 2
    else:
        n = 3

In [61]:
temp = data

merged = pd.merge(temp,user, left_on = 'id', right_on = 'iid',how = 'left')
merged = merged.drop(['web_id'], axis =1)
# merged('rating').d
merged['rating'] = merged['rating'].fillna(0)
merged = merged.astype({'rating': 'int64'})
merged[merged['rating'] == 0]

,id,title,theme,sub_theme,latitude,longitude,green_space,walking,cardio,sightseeing,content,iid,rating
0,1001,Lynch''''s Bridge Mosaic Mural,Mural,Sculpture,144.924,-37.7902,0,0,0,1,Go for a walk to,NaN,0
1,1002,Coles Fountain,Fountain,Memorials,144.973,-37.8098,0,0,0,1,Go for a walk to,NaN,0
2,1003,Beyond the Ocean of Existence,Sculpture,Sculpture,144.967,-37.8164,0,0,0,1,Go for a walk to,NaN,0
3,1004,Vault,Sculpture,Sculpture,144.968,-37.8261,0,0,0,1,Go for a walk to,NaN,0
4,1005,Sir Thomas Blamey Memorial,Memorial,Sculpture,144.973,-37.8263,0,0,0,1,Go for a walk to,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
269,1270,Eureka Skydeck 88,Leisure/Recreation,Observation Tower/Wheel,144.965,-37.8216,1,0,0,1,Go for a walk to,NaN,0
270,1271,Sandridge Rail Bridge,Leisure/Recreation,Informal Outdoor Facility (Park/Garden/Reserve),144.963,-37.8202,1,1,0,0,Go for a walk to,NaN,0
271,1272,Australian Centre For The Moving Image (ACMI),Place Of Assembly,Art Gallery/Museum,144.969,-37.8176,1,0,0,1,Go for a walk to,NaN,0
272,1273,Lincoln Square,Leisure/Recreation,Informal Outdoor Facility (Park/Garden/Reserve),144.963,-37.8028,1,1,0,0,Go for a walk to,NaN,0
273,1274,The Museum Of Australian Chinese History,Place Of Assembly,Art Gallery/Museum,144.969,-37.8108,1,0,0,1,Go for a walk to,NaN,0

In [563]:
merged

,id,title,theme,sub_theme,latitude,longitude,green_space,walking,cardio,sightseeing,content,Rating
0,1001,Lynch''''s Bridge Mosaic Mural,Mural,Sculpture,144.924,-37.7902,0,0,0,1,Go for a walk to,0
1,1002,Coles Fountain,Fountain,Memorials,144.973,-37.8098,0,0,0,1,Go for a walk to,0
2,1003,Beyond the Ocean of Existence,Sculpture,Sculpture,144.967,-37.8164,0,0,0,1,Go for a walk to,0
3,1004,Vault,Sculpture,Sculpture,144.968,-37.8261,0,0,0,1,Go for a walk to,0
4,1005,Sir Thomas Blamey Memorial,Memorial,Sculpture,144.973,-37.8263,0,0,0,1,Go for a walk to,0
...,...,...,...,...,...,...,...,...,...,...,...,...
269,1270,Eureka Skydeck 88,Leisure/Recreation,Observation Tower/Wheel,144.965,-37.8216,1,0,0,1,Go for a walk to,0
270,1271,Sandridge Rail Bridge,Leisure/Recreation,Informal Outdoor Facility (Park/Garden/Reserve),144.963,-37.8202,1,1,0,0,Go for a walk to,0
271,1272,Australian Centre For The Moving Image (ACMI),Place Of Assembly,Art Gallery/Museum,144.969,-37.8176,1,0,0,1,Go for a walk to,0
272,1273,Lincoln Square,Leisure/Recreation,Informal Outdoor Facility (Park/Garden/Reserve),144.963,-37.8028,1,1,0,0,Go for a walk to,1
273,1274,The Museum Of Australian Chinese History,Place Of Assembly,Art Gallery/Museum,144.969,-37.8108,1,0,0,1,Go for a walk to,0

In [69]:
temp1 = pd.DataFrame(columns = ["id","title", "theme","sub_theme","latitude","longitude","green_space","walking","cardio","sightseeing","rating"])
temp2 = pd.DataFrame(columns = ["id", "title", "theme","sub_theme","latitude","longitude","green_space","walking","cardio","sightseeing","rating"])
temp3 = pd.DataFrame(columns = ["id","title", "theme","sub_theme","latitude","longitude","green_space","walking","cardio","sightseeing","rating"])
if 'Walking' in pref:
    temp1 = merged[merged.walking != False]
if 'Cardio' in pref:
    temp2 = merged[merged.cardio != False]
if 'Sightseeing' in pref:
    temp3 = merged[merged.sightseeing != False]

000
001
011
111
010
100
110
101

In [70]:
concat = pd.concat([temp1, temp2, temp3])

In [71]:
if concat.empty:
    concat = temp

In [72]:
concat

,id,title,theme,sub_theme,latitude,longitude,green_space,walking,cardio,sightseeing,content,iid,rating
194,1195,Carlton Gardens South,Leisure/Recreation,Informal Outdoor Facility (Park/Garden/Reserve),144.971,-37.8061,1,1,0,0,Go for a walk to,NaN,0
196,1197,University Square,Leisure/Recreation,Informal Outdoor Facility (Park/Garden/Reserve),144.960,-37.8004,1,1,0,0,Go for a walk to,NaN,0
197,1198,Powlett Reserve,Leisure/Recreation,Informal Outdoor Facility (Park/Garden/Reserve),144.987,-37.8117,1,1,0,0,Go for a walk to,NaN,0
200,1201,Carlton Gardens North,Leisure/Recreation,Informal Outdoor Facility (Park/Garden/Reserve),144.972,-37.8018,1,1,0,0,Go for a walk to,NaN,0
202,1203,Kings Domain,Leisure/Recreation,Informal Outdoor Facility (Park/Garden/Reserve),144.974,-37.8255,1,1,0,0,Go for a walk to,NaN,0
204,1205,Treasury Gardens,Leisure/Recreation,Informal Outdoor Facility (Park/Garden/Reserve),144.976,-37.8144,1,1,0,0,Go for a walk to,NaN,0
205,1206,Batman Park,Leisure/Recreation,Informal Outdoor Facility (Park/Garden/Reserve),144.957,-37.8218,1,1,0,0,Go for a walk to,NaN,0
206,1207,Richmond Football Club,Leisure/Recreation,Informal Outdoor Facility (Park/Garden/Reserve),144.988,-37.8217,1,1,0,0,Go for a walk to,NaN,0
212,1213,Queen Victoria Gardens,Leisure/Recreation,Informal Outdoor Facility (Park/Garden/Reserve),144.971,-37.8216,1,1,0,0,Go for a walk to,NaN,0
214,1215,Federation Square,Leisure/Recreation,Informal Outdoor Facility (Park/Garden/Reserve),144.969,-37.8179,1,1,0,0,Go for a walk to,NaN,0
216,1217,New Quay,Leisure/Recreation,Informal Outdoor Facility (Park/Garden/Reserve),144.942,-37.8152,1,1,0,0,Go for a walk to,NaN,0
217,1218,Docklands Park,Leisure/Recreation,Informal Outdoor Facility (Park/Garden/Reserve),144.947,-37.8210,1,1,0,0,Go for a walk to,NaN,0
220,1221,Point Park,Leisure/Recreation,Informal Outdoor Facility (Park/Garden/Reserve),144.942,-37.8234,1,1,0,0,Go for a walk to,NaN,0
221,1222,Newmarket Reserve,Leisure/Recreation,Informal Outdoor Facility (Park/Garden/Reserve),144.923,-37.7878,1,1,0,0,Go for a walk to,NaN,0
229,1230,Birrarung Marr,Leisure/Recreation,Informal Outdoor Facility (Park/Garden/Reserve),144.973,-37.8181,1,1,0,0,Go for a walk to,NaN,0
231,1232,Riverslide Skate Park,Leisure/Recreation,Informal Outdoor Facility (Park/Garden/Reserve),144.973,-37.8208,1,1,0,0,Go for a walk to,NaN,0
232,1233,Alexandra Gardens,Leisure/Recreation,Informal Outdoor Facility (Park/Garden/Reserve),144.972,-37.8206,1,1,0,0,Go for a walk to,NaN,0
233,1234,North Melbourne Recreation Reserve,Leisure/Recreation,Informal Outdoor Facility (Park/Garden/Reserve),144.941,-37.7988,1,1,0,0,Go for a walk to,NaN,0
234,1235,J.J Holland Park,Leisure/Recreation,Informal Outdoor Facility (Park/Garden/Reserve),144.924,-37.7982,1,1,0,0,Go for a walk to,NaN,0
235,1236,Royal Park,Leisure/Recreation,Informal Outdoor Facility (Park/Garden/Reserve),144.954,-37.7906,1,1,0,0,Go for a walk to,NaN,0
236,1237,Princes Park,Leisure/Recreation,Informal Outdoor Facility (Park/Garden/Reserve),144.961,-37.7870,1,1,0,0,Go for a walk to,NaN,0
238,1239,Shrine of Rembrance Reserve,Leisure/Recreation,Informal Outdoor Facility (Park/Garden/Reserve),144.974,-37.8321,1,1,0,0,Go for a walk to,NaN,0
239,1240,Royal Botanic Gardens,Leisure/Recreation,Informal Outdoor Facility (Park/Garden/Reserve),144.981,-37.8307,1,1,0,0,Go for a walk to,NaN,0
240,1241,Yarra Park,Leisure/Recreation,Informal Outdoor Facility (Park/Garden/Reserve),144.987,-37.8205,1,1,0,0,Go for a walk to,NaN,0
243,1244,Darling Square,Leisure/Recreation,Informal Outdoor Facility (Park/Garden/Reserve),144.989,-37.8130,1,1,0,0,Go for a walk to,NaN,0
244,1245,Flagstaff Gardens,Leisure/Recreation,Informal Outdoor Facility (Park/Garden/Reserve),144.955,-37.8111,1,1,0,0,Go for a walk to,NaN,0
246,1247,Fawkner Park,Leisure/Recreation,Informal Outdoor Facility (Park/Garden/Reserve),144.982,-37.8414,1,1,0,0,Go for a walk to,NaN,0
247,1248,Fitzroy Gardens,Leisure/Recreation,Informal Outdoor Facility (Park/Garden/Reserve),144.980,-37.8130,1,1,0,0,Go for a walk to,NaN,0
249,1250,Enterprize Park,Leisure/Recreation,Informal Outdoor Facility (Park/Garden/Reserve),144.959,-37.8202,1,1,0,0,Go for a walk to,NaN,0
255,1256,Argyle Square,Leisure/Recreation,Informal Outdoor Facility (Park/Garden/Reserve),144.966,-37.8031,1,1,0,0,Go for a walk to,NaN,0
256,1257,Piazza Italia,Leisure/Recreation,Informal Outdoor Facility (Park/Garden/Reserve),144.966,-37.8025,1,1,0,0,Go for a walk to,NaN,0
257,1258,Macarthur Square,Leisure/Recreation,Informal Outdoor Facility (Park/Garden/Reserve),144.972,-37.7983,1,1,0,0,Go for a walk to,NaN,0
258,1259,Murchinson Square,Leisure/Recreation,Informal Outdoor Facility (Park/Garden/Reserve),144.973,-37.8003,1,1,0,0,Go for a walk to,NaN,0
259,1260,Parliament Reserve,Leisure/Recreation,Informal Outdoor Facility (Park/Garden/Reserve),144.973,-37.8099,1,1,0,0,Go for a walk to,NaN,0
264,1265,Westgate Park,Leisure/Recreation,Informal Outdoor Facility (Park/Garden/Reserve),144.909,-37.8315,1,1,0,0,Go for a walk to,NaN,0
270,1271,Sandridge Rail Bridge,Leisure/Recreation,Informal Outdoor Facility (Park/Garden/Reserve),144.963,-37.8202,1,1,0,0,Go for a walk to,NaN,0
272,1273,Lincoln Square,Leisure/Recreation,Informal Outdoor Facility (Park/Garden/Reserve),144.963,-37.8028,1,1,0,0,Go for a walk to,NaN,0
195,1196,State Netball Hockey Centre,Leisure/Recreation,Major Sports & Recreation Facility,144.948,-37.7858,1,0,1,0,Go for a walk to,NaN,0
198,1199,Carlton Football Club,Leisure/Recreation,Major Sports & Recreation Facility,144.962,-37.7841,1,0,1,0,Go for a walk to,NaN,0
199,1200,Visy Park,Leisure/Recreation,Major Sports & Recreation Facility,144.962,-37.7834,1,0,1,0,Go for a walk to,NaN,0
203,1204,Flemington Racecourse,Leisure/Recreation,Major Sports & Recreation Facility,144.912,-37.7908,1,0,1,0,Go for a walk to,NaN,0
207,1208,Melbourne Cricket Ground (MCG),Leisure/Recreation,Major Sports & Recreation Facility,144.983,-37.8195,1,0,1,0,Go for a walk to,NaN,0
208,1209,Melbourne Zoo,Leisure/Recreation,"Outdoor Recreation Facility (Zoo, Golf Course)",144.951,-37.7844,1,0,1,0,Go for a walk to,NaN,0
218,1219,AAMI Park,Leisure/Recreation,Major Sports & Recreation Facility,144.984,-37.8247,1,0,1,0,Go for a walk to,NaN,0
223,1224,Wonderland Park,Leisure/Recreation,"Outdoor Recreation Facility (Zoo, Golf Course)",144.937,-37.8117,1,0,1,0,Go for a walk to,NaN,0
224,1225,Rod Laver Arena,Leisure/Recreation,Major Sports & Recreation Facility,144.978,-37.8220,1,0,1,0,Go for a walk to,NaN,0
225,1226,Melbourne Park,Leisure/Recreation,Major Sports & Recreation Facility,144.979,-37.8209,1,0,1,0,Go for a walk to,NaN,0
226,1227,Margaret Court Arena,Leisure/Recreation,Major Sports & Recreation Facility,144.978,-37.8213,1,0,1,0,Go for a walk to,NaN,0
227,1228,Hisense Arena,Leisure/Recreation,Major Sports & Recreation Facility,144.982,-37.8231,1,0,1,0,Go for a walk to,NaN,0
230,1231,Artplay,Leisure/Recreation,Indoor Recreation Facility,144.972,-37.8184,1,0,1,0,Go for a walk to,NaN,0
241,1242,Icehouse,Leisure/Recreation,Indoor Recreation Facility,144.936,-37.8122,1,0,1,0,Go for a walk to,NaN,0
242,1243,Riverside Park,Leisure/Recreation,"Outdoor Recreation Facility (Zoo, Golf Course)",144.916,-37.7948,1,0,1,0,Go for a walk to,NaN,0
245,1246,Melbourne Showgrounds,Leisure/Recreation,"Outdoor Recreation Facility (Zoo, Golf Course)",144.911,-37.7823,1,0,1,0,Go for a walk to,NaN,0
260,1261,North Melbourne Recreation Centre (Aquatic),Leisure/Recreation,Major Sports & Recreation Facility,144.943,-37.7999,1,0,1,0,Go for a walk to,NaN,0
261,1262,North Melbourne Recreation Centre (Gymnasium),Leisure/Recreation,Gymnasium/Health Club,144.940,-37.7997,1,0,1,0,Go for a walk to,NaN,0
262,1263,Carlton Baths,Leisure/Recreation,Indoor Recreation Facility,144.972,-37.7934,1,0,1,0,Go for a walk to,NaN,0
263,1264,City Baths,Leisure/Recreation,Major Sports & Recreation Facility,144.963,-37.8072,1,0,1,0,Go for a walk to,NaN,0
266,1267,Westpac Centre,Leisure/Recreation,Major Sports & Recreation Facility,144.980,-37.8242,1,0,1,0,Go for a walk to,NaN,0
268,1269,Etihad Stadium,Leisure/Recreation,Major Sports & Recreation Facility,144.947,-37.8162,1,0,1,0,Go for a walk to,NaN,0

In [77]:
# from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import GaussianNB
if len(concat[(concat['rating'] != 0)]) < 50:
    df_elements = concat.sample(n)
else:
#     len(concat[(concat['Rating'] != 0)]) > 50
#     train, test = train_test_split(concat, test_size = 0.2)
    concat["theme"] = concat["theme"].astype('category')
    d1 = dict(enumerate(concat['theme'].cat.categories))
    concat["sub_theme"] = concat["sub_theme"].astype('category')
    d2 = dict(enumerate(concat['sub_theme'].cat.categories))
    concat["theme"] = concat["theme"].cat.codes
    concat["sub_theme"] = concat["sub_theme"].cat.codes

    train = concat.loc[concat['rating'] != 0]
    test = concat.loc[concat['rating'] == 0]
    x_train = train.loc[:, ~train.columns.isin(['rating', 'title', 'content', 'iid'])]
    y_train = train['rating']
    x_test = test.loc[:, ~test.columns.isin(['rating', 'title', 'content', 'iid'])]
    y_test = test['rating']
    from sklearn.naive_bayes import GaussianNB
    gnb = GaussianNB()
    gnb.fit(x_train, y_train)
    y_pred = gnb.predict(x_test)
    train['rating'] = y_train
    test['rating'] = y_pred

    pred = pd.concat([train, test])
    pred = pred.loc[pred['rating'] == 2]
    pred['theme'] = pred['theme'].map(d1)
    pred['sub_theme'] = pred['sub_theme'].map(d2)
    df_elements = pred.sample(n)
df_elements = df_elements.drop(['walking', 'cardio', 'sightseeing', 'green_space'], axis = 1)

In [78]:
df_elements

,id,title,theme,sub_theme,latitude,longitude,content,iid,rating
235,1236,Royal Park,Leisure/Recreation,Informal Outdoor Facility (Park/Garden/Reserve),144.954,-37.7906,Go for a walk to,NaN,0
194,1195,Carlton Gardens South,Leisure/Recreation,Informal Outdoor Facility (Park/Garden/Reserve),144.971,-37.8061,Go for a walk to,NaN,0
212,1213,Queen Victoria Gardens,Leisure/Recreation,Informal Outdoor Facility (Park/Garden/Reserve),144.971,-37.8216,Go for a walk to,NaN,0

In [79]:
from math import radians, cos, sin, asin, sqrt

def haversine(lon1, lat1, lon2, lat2):
    """
    Calculate the great circle distance in kilometers between two points 
    on the earth (specified in decimal degrees)
    """
    # convert decimal degrees to radians 
    lon1, lat1, lon2, lat2 = map(radians, [lon1, lat1, lon2, lat2])

        # haversine formula 
    dlon = lon2 - lon1 
    dlat = lat2 - lat1 
    a = sin(dlat/2)**2 + cos(lat1) * cos(lat2) * sin(dlon/2)**2
    c = 2 * asin(sqrt(a)) 
    r = 6371 # Radius of earth in kilometers. Use 3956 for miles. Determines return value units.
    return c * r

In [81]:
if 'Cycling' in pref:
#     bike = pd.read_csv('bicycle.csv')
    bike = pd.read_sql('''select * from bicycle''', conn)
#     bike.drop(['Unnamed: 0'], axis = 1)
#     bike['Rating'] = 0
    
    temp = bike
    bikemerged = pd.merge(temp, user, left_on = 'id', right_on = 'iid',how = 'left')
    bikemerged['rating'] = bikemerged['rating'].fillna(0)
    bikemerged = bikemerged.astype({'rating': 'int64'})
    bike_high = bikemerged.loc[bikemerged['rating'] == 2]
    selection = bike_high.sample(1)
    if selection.empty:
        record = bike.sample(1)
    else:
        lon, lat = selection['longitude'], selection['latitude'] 
        bikemerged['haversine_calc'] = [haversine(lon,lat, bikemerged['longitude'][i], bikemerged['latitude'][i])for i in range(len(bike))]
        bikemerged = bikemerged[bikemerged["haversine_calc"]>0]
#         bikemerged = bikemerged.drop(['Unnamed: 0'], axis = 1)
        record = bikemerged.loc[bikemerged.haversine_calc == bikemerged.haversine_calc.min()]
        record = record.drop(['haversine_calc'], axis = 1)

ValueError: a must be greater than 0 unless no samples are taken

In [82]:
bike_high[bike_high['rating'] == 1]

Empty DataFrame
Columns: [id, title, theme, sub_theme, latitude, longitude, content, web_id, iid, rating]
Index: []

In [468]:
bike

,id,title,theme,sub_theme,latitude,longitude,content
0,2001,On-Road Bike Lane,Both Directions,On-Road Bike Lane,144.943,-37.8074,Go for a cycle ride to
1,2002,Off-Road Bike Route,Both Directions,Off-Road Bike Route,144.954,-37.7831,Go for a cycle ride to
2,2003,Off-Road Bike Route,Both Directions,Off-Road Bike Route,144.934,-37.8161,Go for a cycle ride to
3,2004,Off-Road Bike Route,Both Directions,Off-Road Bike Route,144.952,-37.7902,Go for a cycle ride to
4,2005,Off-Road Bike Route - Capital City Trail,Both Directions,Off-Road Bike Route,144.952,-37.8232,Go for a cycle ride to
...,...,...,...,...,...,...,...
269,2270,Off-Road Bike Route,Both Directions,Off-Road Bike Route,144.962,-37.7920,Go for a cycle ride to
270,2271,Off-Road Bike Route,Both Directions,Off-Road Bike Route,144.964,-37.8195,Go for a cycle ride to
271,2272,On-Road Bike Lane,Both Directions,On-Road Bike Lane,144.969,-37.8238,Go for a cycle ride to
272,2273,Off-Road Bike Route,Both Directions,Off-Road Bike Route,144.903,-37.7898,Go for a cycle ride to
273,2274,Off-Road Bike Route,Both Directions,Off-Road Bike Route,144.978,-37.8229,Go for a cycle ride to

In [461]:
output = pd.concat([df_elements, record])

In [469]:
indoor = pd.read_sql('''select * from indoor''', conn)

indoor = pd.merge(indoor, user, on = 'id', how = 'left')
indoor['Rating'] = indoor['Rating'].fillna(0)
indoor = indoor.astype({'Rating': 'int64'})

In [470]:
indoor

,id,title,theme,sub_theme,content,Rating
0,3001,Yoga,Low Intensity,Meditation,Home Workout -,0
1,3002,Skipping a rope,High Intensity,Endurance training,Home Workout -,0
2,3003,Body weight training,Low Intensity,Muscle Building,Home Workout -,0
3,3004,House chores,Low Intensity,Muscle Building,Home Workout -,0
4,3005,Taking the stairs,High Intensity,Endurance training,Home Workout -,0
5,3006,Dancing,High Intensity,Endurance training,Home Workout -,0
6,3007,Hula hoop,High Intensity,Endurance training,Home Workout -,0
7,3008,Pilates,Low Intensity,Meditation,Home Workout -,0
8,3009,High intensive interval training,High Intensity,Endurance training,Home Workout -,0
9,3010,Cardio Kickboxing,High Intensity,Endurance training,Home Workout -,0
10,3011,Tai chi,Low Intensity,Meditation,Home Workout -,0
11,3012,Abdominal Training,Low Intensity,Muscle building,Home Workout -,0
12,3013,Dumbell Exercises,Low Intensity,Muscle building,Home Workout -,0
13,3014,Kettlebells Exercises,Low Intensity,Muscle building,Home Workout -,0
14,3015,Burpees,High Intensity,Endurance training,Home Workout -,0
15,3016,Push Ups,Low Intensity,Muscle building,Home Workout -,0
16,3017,Squats,Low Intensity,Muscle building,Home Workout -,0
17,3018,Planks,Low Intensity,Endurance training,Home Workout -,0
18,3019,Lunge,Low Intensity,Muscle building,Home Workout -,0
19,3020,Mountain Climbers,High Intensity,Endurance training,Home Workout -,0
20,3021,Boxing,High Intensity,Endurance training,Home Workout -,0
21,3022,Indoor walking,Low Intensity,Endurance training,Home Workout -,0
22,3023,Step Ups,Low Intensity,Muscle building,Home Workout -,0
23,3024,Stationary machine workouts,High Intentsity,Endurance training,Home Workout -,0
24,3025,Weightlifting,Low Intensity,Muscle building,Home Workout -,0
25,3026,Pull Ups,Low Intensity,Muscle building,Home Workout -,0
26,3027,Deadlifts,High Intensity,Muscle building,Home Workout -,0

In [471]:
indoor['title'].dtype

dtype('O')

In [472]:
if 'Cardio' in pref:
    indoor_act = indoor.loc[indoor['theme'] == 'High Intensity']
    indoor_act = indoor_act.sample(3)
else:
    indoor_act = indoor.loc[indoor['theme'] == 'Low Intensity']
    indoor_act = indoor_act.sample(3)
    
if weather == 'Rain':
    indoor_act = indoor_act.sample(3)
else:
    indoor_act = indoor_act.sample(2)

In [473]:
output_final = pd.concat([output, indoor_act]).sample(6)

In [474]:
output_final

,id,title,theme,sub_theme,latitude,longitude,Rating,content
1,3002,Skipping a rope,High Intensity,Endurance training,NaN,NaN,0,Home Workout -
196,1197,University Square,Leisure/Recreation,Informal Outdoor Facility (Park/Garden/Reserve),144.960,-37.8004,0,NaN
263,1264,City Baths,Leisure/Recreation,Major Sports & Recreation Facility,144.963,-37.8072,0,NaN
245,2246,Off-Road Bike Route,Both Directions,Off-Road Bike Route,144.954,-37.7825,0,Go for a cycle ride to
4,3005,Taking the stairs,High Intensity,Endurance training,NaN,NaN,0,Home Workout -
19,3020,Mountain Climbers,High Intensity,Endurance training,NaN,NaN,0,Home Workout -

In [290]:
out = output_final.to_json(orient='records', path_or_buf=None)[1:-1].replace('},{', '} {')

In [292]:
output_final.to_json(orient='records', lines=True)

'{"Title":"Off-Road Bike Route","Theme":"Both Directions","Sub Theme":"Off-Road Bike Route","Latitude":144.9540393003,"Longitude":-37.7824763618,"id":2246,"Rating":0}\n{"Title":"Riverslide Skate Park","Theme":"Leisure\\/Recreation","Sub Theme":"Informal Outdoor Facility (Park\\/Garden\\/Reserve)","Latitude":144.9729517893,"Longitude":-37.8207887122,"id":1232,"Rating":0}\n{"Title":"Dancing","Theme":"High Intensity","Sub Theme":"Endurance Training","Latitude":null,"Longitude":null,"id":3006,"Rating":0}\n{"Title":"Fawkner Park","Theme":"Leisure\\/Recreation","Sub Theme":"Informal Outdoor Facility (Park\\/Garden\\/Reserve)","Latitude":144.9816256679,"Longitude":-37.8413996708,"id":1247,"Rating":0}\n{"Title":"Skipping a rope","Theme":"High Intensity","Sub Theme":"Endurance Training","Latitude":null,"Longitude":null,"id":3002,"Rating":0}\n{"Title":"Taking the stairs","Theme":"High Intensity","Sub Theme":"Endurance Training","Latitude":null,"Longitude":null,"id":3005,"Rating":0}\n'

In [295]:
json_funny = output_final.to_json(path_or_buf=None, orient=None, 
date_format=None, double_precision=10, 
force_ascii=True, 
date_unit='ms', 
default_handler=None, lines=False, 
compression='infer', index=True)

In [298]:
df2 = output_final.to_json(orient='index')

In [296]:
df2 = pd.read_json(json_funny, orient ='index')

In [299]:
df2

'{"245":{"Title":"Off-Road Bike Route","Theme":"Both Directions","Sub Theme":"Off-Road Bike Route","Latitude":144.9540393003,"Longitude":-37.7824763618,"id":2246,"Rating":0},"231":{"Title":"Riverslide Skate Park","Theme":"Leisure\\/Recreation","Sub Theme":"Informal Outdoor Facility (Park\\/Garden\\/Reserve)","Latitude":144.9729517893,"Longitude":-37.8207887122,"id":1232,"Rating":0},"5":{"Title":"Dancing","Theme":"High Intensity","Sub Theme":"Endurance Training","Latitude":null,"Longitude":null,"id":3006,"Rating":0},"246":{"Title":"Fawkner Park","Theme":"Leisure\\/Recreation","Sub Theme":"Informal Outdoor Facility (Park\\/Garden\\/Reserve)","Latitude":144.9816256679,"Longitude":-37.8413996708,"id":1247,"Rating":0},"1":{"Title":"Skipping a rope","Theme":"High Intensity","Sub Theme":"Endurance Training","Latitude":null,"Longitude":null,"id":3002,"Rating":0},"4":{"Title":"Taking the stairs","Theme":"High Intensity","Sub Theme":"Endurance Training","Latitude":null,"Longitude":null,"id":3005,"Rating":0}}'

In [200]:
### TESTING DATASET
from random import randint
concat["Rating"] = concat.apply(lambda x: randint(0,2), axis=1)
concat = concat.drop(['Title'], axis = 1)
concat["Theme"] = concat["Theme"].astype('category')
concat["Sub Theme"] = concat["Sub Theme"].astype('category')
concat["Theme"] = concat["Theme"].cat.codes
concat["Sub Theme"] = concat["Sub Theme"].cat.codes
train = concat.loc[concat['Rating'] != 0]
test = concat.loc[concat['Rating'] == 0]
x_train = train.loc[:, train.columns != 'Rating']
y_train = train['Rating']
x_test = test.loc[:, test.columns != 'Rating']
y_test = test['Rating']

In [201]:
from sklearn.naive_bayes import GaussianNB
gnb = GaussianNB()
gnb.fit(x_train, y_train)

GaussianNB()

In [202]:
y_pred = gnb.predict(x_test)

In [203]:
y_pred

array([1, 2, 1, 1, 1, 2, 2, 1, 1, 2, 1, 1, 2, 2, 2, 2, 2, 2, 2, 2, 2],
      dtype=int64)

In [351]:
from sklearn.model_selection import train_test_split
concat["Rating"] = concat.apply(lambda x: randint(0,2), axis=1)

concat["Theme"] = concat["Theme"].astype('category')
d1 = dict(enumerate(concat['Theme'].cat.categories))
concat["Sub Theme"] = concat["Sub Theme"].astype('category')
d2 = dict(enumerate(concat['Sub Theme'].cat.categories))

concat["Theme"] = concat["Theme"].cat.codes
concat["Sub Theme"] = concat["Sub Theme"].cat.codes
train = concat.loc[concat['Rating'] != 0]
train, test = train_test_split(train, test_size = 0.3, random_state = 1)
x_train = train.loc[:, ~train.columns.isin(['Rating', 'Title'])]
y_train = train['Rating']
x_test = test.loc[:, ~test.columns.isin(['Rating', 'Title'])]
y_test = test['Rating']

In [352]:
from sklearn.naive_bayes import GaussianNB
gnb = GaussianNB()
gnb.fit(x_train, y_train)

GaussianNB()

In [353]:
y_pred = gnb.predict(x_test)

In [354]:
from sklearn import metrics
print("Gaussian Naive Bayes model accuracy(in %):", metrics.accuracy_score(y_test, y_pred)*100)

Gaussian Naive Bayes model accuracy(in %): 30.0

In [355]:
train['Rating'] = y_train
test['Rating'] = y_pred
pred = pd.concat([train, test])
pred = pred.loc[pred['Rating'] == 2]
pred['Theme'] = pred['Theme'].map(d1)
pred['Sub Theme'] = pred['Sub Theme'].map(d2)
df_elements = pred.sample(n)

In [356]:
df_elements

,Title,Theme,Sub Theme,Latitude,Longitude,Green Space,id,Walking,Cardio,Sightseeing,Rating
230,Artplay,Leisure/Recreation,Indoor Recreation Facility,144.971543,-37.818420,True,1231,False,True,False,2
221,Newmarket Reserve,Leisure/Recreation,Informal Outdoor Facility (Park/Garden/Reserve),144.922972,-37.787847,True,1222,True,False,False,2
194,Carlton Gardens South,Leisure/Recreation,Informal Outdoor Facility (Park/Garden/Reserve),144.971266,-37.806068,True,1195,True,False,False,2
263,City Baths,Leisure/Recreation,Major Sports & Recreation Facility,144.963190,-37.807159,True,1264,False,True,False,2

In [357]:
d1

{0: 'Leisure/Recreation'}

In [60]:
!pip install mariadb

Collecting mariadb
  Downloading mariadb-1.1.4-cp39-cp39-win_amd64.whl (191 kB)
Installing collected packages: mariadb
Successfully installed mariadb-1.1.4

In [157]:
import pymysql
import pandas as pd
# !pip install pymysql

In [158]:
conn = pymysql.connect(
        user="sittofit",
        password="0AxPzbedoJFNTfPj67Pr",
        host="db.sittofit.tk",
        port=3306,
        database="recommendation",
        cursorclass = pymysql.cursors.DictCursor)

In [159]:
cursorObject = conn.cursor()

In [86]:
user_id = 12001
iid = 1002

In [89]:
ql_query = 'select * from user_rating where (web_id = "{}" and iid = "{}")'.format(user_id, iid)
check = pd.read_sql(sql_query, conn)
check = check[check['iid'] == iid]
check

Empty DataFrame
Columns: [web_id, iid, rating]
Index: []

In [27]:
SQL_Query = "DROP TABLE user_rating"

In [28]:
SQL_Query = "create table user_pref (web_id int, pref varchar(255))"

In [162]:
data = pd.read_sql("select * from user_preference", conn)

In [163]:
data

       web_id                          preference
0           1                                None
1         777                'Cycling', 'Walking'
2        1001                 'Cycling', 'Cardio'
3        1090      "Cycling", "Walking", "Cardio"
4        2001                                None
5        2090      'Cycling', 'Walking', 'Cardio'
6        2200                           'Cycling'
7        2220                           'Cycling'
8        2222                                None
9        3090                                None
10       3222                           'Cycling'
11       3333                           'Cycling'
12       4090                                None
13       4321                'Cycling', 'Walking'
14       4323                           'Cycling'
15       5432                'Cycling', 'Walking'
16       7090                  Walking', 'Cardio'
17       9090                           'Cycling'
18       9101                           'Cycling'
19      10001                                None
20      10002                                None
21      20000                                None
22      99221                 'Cycling', 'Cardio'
23      99223
24     999222                 'Cycling', 'Cardio'
25     999232                 'Cycling', 'Cardio'
26     999922                           'Cycling'
27  645321605                           'Cycling'
28  686404948
29  709158683                           'Cycling'
30  825867987
31  826538128  'Cycling', 'Cardio', 'Sightseeing'

In [114]:
df = pd.DataFrame(SQL_Query, columns=['sit', 'phy', 'val'])

In [11]:
cursorObject.execute(SQL_Query)

0

In [116]:
out = df.to_json(orient='records')[1:-1].replace('},{', '} {')

In [637]:
sqlQuery = "show tables"

In [ ]:
cursorObject.execute(SQL_Query)

     sit  phy       val
0      0    0  0.005800
1      0    1  0.115400
2      0    2  0.121200
3      0    3  0.196200
4      0    4  0.253900
..   ...  ...       ...
164   12    8  9.583512
165   12    9  9.641751
166   12   10  9.699990
167   12   11  9.758229
168   12   12  9.816468

[169 rows x 3 columns]

In [218]:
dict = {'web_id': 1001, 'preference': 'Cycling'}

In [157]:
df = pd.DataFrame(dict.items(), columns = ['web_id', 'pref'])

In [219]:
df = pd.DataFrame([dict])

In [221]:
df

   web_id preference
0    1001    Cycling

In [345]:
d = 'show tables from sittofit'
cursorObject.execute(d)
# conn.commit()

6

In [189]:
d = '''INSERT INTO user_pref (web_id,pref) values (%s, %s)'''
val = (df["web_id"][0], df["preference"][0])

In [184]:
d

'INSERT INTO user_pref (web_id,pref) values (%s, %s)'

In [180]:
val

(1001, 'Cycling')

In [208]:
d = '''create table user_pref (web_id int, pref varchar(50) , CONSTRAINT web PRIMARY KEY (web_id))'''

In [234]:
# df = pd.DataFrame(list(dict.items()), columns=['web_id', 'pref'])

In [258]:
df

   web_id     pref
0   10001  Cycling
1   12001  Cycling

In [250]:
#df = pd.read_sql('''select * from user_pref''', conn)

In [256]:
if 10001 in df['web_id'].values:
    print('yup')
else:
    print('nop')

yup

In [269]:
d2 = '''UPDATE user_pref set pref = %s where web_id = %s'''
val2 = (df["pref"][0], df["web_id"][0])

In [270]:
val2

('Cycling', 10001)

In [271]:
cursorObject.execute(d2, val2)
conn.commit()

In [12]:
q = '''create table user_rating (web_id int, iid int, rating int, CONSTRAINT pks PRIMARY KEY (web_id, iid))'''
cursorObject.execute(q)

0

In [274]:
ratings = {'web_id': 12001, 'iid': 1002, 'rating': 1}
df = pd.DataFrame([ratings])

In [283]:
d1 = '''INSERT INTO user_pref (web_id, iid, rating) values (%s, %s, %s)'''
val1 = (df["web_id"][0], df["iid"][0], df['rating'][0])

In [284]:
df['rating'][0]

1

In [287]:
cursorObject.execute('''INSERT INTO user_rating (web_id, rating) values (%s, %s)''', (df["web_id"][0], df['rating'][0]))
conn.commit()

OperationalError: (1054, "Unknown column 'rating' in 'field list'")

In [300]:
!pip install gunicorn

Collecting gunicorn
  Downloading gunicorn-20.1.0-py3-none-any.whl (79 kB)
Requirement already satisfied: setuptools>=3.0 in c:\users\ounam\anaconda3\lib\site-packages (from gunicorn) (58.0.4)
Installing collected packages: gunicorn
Successfully installed gunicorn-20.1.0

In [301]:
!pip freeze > requirements.txt

In [481]:
dic = {'lol': [['f', 'o', 'o'], ['p', 'o', 'o'], ['k', 'o', 'o']]}

In [506]:
lis = []
for i in range(len(dic['lol'])):
    a = ''.join(dic['lol'][i])
    lis.append(a)

In [507]:
print(lis)

['foo', 'poo', 'koo']

In [503]:
dic['lol'][2]

['k', 'o', 'o']

In [546]:
preferences = {"web_id":1090, "preference": '"Cycling", "Walking", "Cardio"'}

In [547]:
df = pd.DataFrame(columns = ['web_id', 'preference'])
lis = [preferences['web_id'], preferences['preference']]
lis

[1090, '"Cycling", "Walking", "Cardio"']

In [548]:
df = pd.DataFrame([lis], columns = ['web_id', 'preference'])

In [549]:
df

   web_id                      preference
0    1090  "Cycling", "Walking", "Cardio"

In [551]:


d1 = '''INSERT INTO user_preference (web_id, preference) values (%s, %s)'''
d2 = '''UPDATE user_preference set web_id = %s, preference = %s where (web_id = %s)'''

val1 = (df["web_id"][0], df["preference"][0])
val2 = (df['web_id'][0], df["preference"][0], df['web_id'][0])

user_rating = pd.read_sql('''select * from user_preference''', conn)
comp1 = df['web_id'][0]
comp2 = user_rating.loc[user_rating['web_id'] == df['web_id'][0]]
print(comp2)
if not comp2.empty:
        ## UPDATE
    cursorObject.execute(d2, val2)
    conn.commit()
else:
    cursorObject.execute(d1, val1)
    conn.commit()

   web_id                      preference
0    1090  "Cycling", "Walking", "Cardio"

OperationalError: (1054, "Unknown column 'preference' in 'field list'")

In [523]:
df = df.astype({'web_id': 'int64'})

In [527]:
d = df['web_id']
d

0    9090
Name: web_id, dtype: int64

In [550]:
d1 = '''INSERT INTO user_preference (web_id, preference) values (%s, %s)'''
val1 = (df['web_id'][0], df["preference"][0])
cursorObject.execute(d1, val1)
conn.commit()

In [516]:
conn.close()

In [3]:
from flask import Flask, Response
from flask_restful import Api, Resource, reqparse
import pymysql
import pandas as pd
import requests
# from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import GaussianNB

In [8]:
conn = pymysql.connect(
        user="sittofit",
        password="0AxPzbedoJFNTfPj67Pr",
        host="db.sittofit.tk",
        port=3306,
        database="recommendation",
        cursorclass = pymysql.cursors.DictCursor)
cursorObject = conn.cursor()

In [9]:
user_id = 826538128
url = "https://api.openweathermap.org/data/2.5/weather?lat=-37.840935&lon=144.946457&appid=c92389d6904463e3cb24208905434fd9"
response = requests.get(url)
json = response.json()
weather = json['weather'][0]['main']
# user_id = 4321
## DATA
data = pd.read_sql('''select * from outdoor''', conn)

sql_query = 'select * from user_rating where rating = 2'
user = pd.read_sql(sql_query, conn)
user

       web_id   iid  rating
0       12001  1002       2
1      999232  3015       2
2   118789838  2001       2
3   118789838  2076       2
4   118789838  3003       2
5   118789838  3008       2
6   118789838  3010       2
7   118789838  3015       2
8   118789838  3019       2
9   118789838  3020       2
10  384995181  1210       2
11  384995181  3003       2
12  384995181  3012       2
13  384995181  3016       2
14  633868948  1208       2
15  633868948  3007       2
16  633868948  3027       2
17  686404948  3005       2
18  686404948  3007       2
19  686404948  3015       2
20  686404948  3021       2
21  850861915  3020       2

In [10]:
user = user.rename(columns={"iid": "id"})
# User Preference
sql_query = 'select * from user_preference where web_id = "{}"'.format(user_id)
pref = pd.read_sql(sql_query, conn)
pref = pref['preference'][0]

if 'Cycling' in pref:
    if weather == 'Rain':
        n = 3
    else:
        n = 2
else:
    if weather == 'Rain':
        n = 3
    else:
        n = 4
temp = data
user = user.drop(['web_id'], axis = 1)
user

      id  rating
0   1002       2
1   3015       2
2   2001       2
3   2076       2
4   3003       2
5   3008       2
6   3010       2
7   3015       2
8   3019       2
9   3020       2
10  1210       2
11  3003       2
12  3012       2
13  3016       2
14  1208       2
15  3007       2
16  3027       2
17  3005       2
18  3007       2
19  3015       2
20  3021       2
21  3020       2

In [7]:
if not user.empty:

    merged = pd.merge(temp, user, on = 'id', how = 'left')
    merged['rating'] = merged['rating'].fillna(0)
    print(merged)
    merged = merged.astype({'rating': 'int64'})
else:
    merged = temp
    merged['rating'] = 0
    # merged['Rating'] = merged['Rating'].fillna(0)
    merged = merged.astype({'rating': 'int64'})
temp1 = pd.DataFrame(columns = ["id","title", "theme","sub_theme","latitude","longitude","green_space","walking","cardio","sightseeing","rating"])
temp2 = pd.DataFrame(columns = ["id", "title", "theme","sub_theme","latitude","longitude","green_space","walking","cardio","sightseeing","rating"])
temp3 = pd.DataFrame(columns = ["id","title", "theme","sub_theme","latitude","longitude","green_space","walking","cardio","sightseeing","rating"])
if 'Walking' in pref:
    temp1 = merged[merged.walking != False]
if 'Cardio' in pref:
    temp2 = merged[merged.cardio != False]
if 'Sightseeing' in pref:
    temp3 = merged[merged.sightseeing != False]

       id                                          title               theme  \
0    1001                 Lynch''''s Bridge Mosaic Mural               Mural
1    1002                                 Coles Fountain            Fountain
2    1003                  Beyond the Ocean of Existence           Sculpture
3    1004                                          Vault           Sculpture
4    1005                     Sir Thomas Blamey Memorial            Memorial
..    ...                                            ...                 ...
269  1270                              Eureka Skydeck 88  Leisure/Recreation
270  1271                          Sandridge Rail Bridge  Leisure/Recreation
271  1272  Australian Centre For The Moving Image (ACMI)   Place Of Assembly
272  1273                                 Lincoln Square  Leisure/Recreation
273  1274       The Museum Of Australian Chinese History   Place Of Assembly

                                           sub_theme  latitude  longitude  \
0                                          Sculpture   144.924   -37.7902
1                                          Memorials   144.973   -37.8098
2                                          Sculpture   144.967   -37.8164
3                                          Sculpture   144.968   -37.8261
4                                          Sculpture   144.973   -37.8263
..                                               ...       ...        ...
269                          Observation Tower/Wheel   144.965   -37.8216
270  Informal Outdoor Facility (Park/Garden/Reserve)   144.963   -37.8202
271                               Art Gallery/Museum   144.969   -37.8176
272  Informal Outdoor Facility (Park/Garden/Reserve)   144.963   -37.8028
273                               Art Gallery/Museum   144.969   -37.8108

     green_space  walking  cardio  sightseeing           content  rating
0              0        0       0            1  Go for a walk to     0.0
1              0        0       0            1  Go for a walk to     2.0
2              0        0       0            1  Go for a walk to     0.0
3              0        0       0            1  Go for a walk to     0.0
4              0        0       0            1  Go for a walk to     0.0
..           ...      ...     ...          ...               ...     ...
269            1        0       0            1  Go for a walk to     0.0
270            1        1       0            0  Go for a walk to     0.0
271            1        0       0            1  Go for a walk to     0.0
272            1        1       0            0  Go for a walk to     0.0
273            1        0       0            1  Go for a walk to     0.0

[274 rows x 12 columns]

In [11]:
# merging data as rows are reduced
concat = pd.concat([temp1, temp2, temp3])
if concat.empty:
    concat = temp

concat

,id,title,theme,sub_theme,latitude,longitude,green_space,walking,cardio,sightseeing,content,rating
194,1195,Carlton Gardens South,Leisure/Recreation,Informal Outdoor Facility (Park/Garden/Reserve),144.971,-37.8061,1,1,0,0,Go for a walk to,0
196,1197,University Square,Leisure/Recreation,Informal Outdoor Facility (Park/Garden/Reserve),144.960,-37.8004,1,1,0,0,Go for a walk to,0
197,1198,Powlett Reserve,Leisure/Recreation,Informal Outdoor Facility (Park/Garden/Reserve),144.987,-37.8117,1,1,0,0,Go for a walk to,0
200,1201,Carlton Gardens North,Leisure/Recreation,Informal Outdoor Facility (Park/Garden/Reserve),144.972,-37.8018,1,1,0,0,Go for a walk to,0
202,1203,Kings Domain,Leisure/Recreation,Informal Outdoor Facility (Park/Garden/Reserve),144.974,-37.8255,1,1,0,0,Go for a walk to,0
204,1205,Treasury Gardens,Leisure/Recreation,Informal Outdoor Facility (Park/Garden/Reserve),144.976,-37.8144,1,1,0,0,Go for a walk to,0
205,1206,Batman Park,Leisure/Recreation,Informal Outdoor Facility (Park/Garden/Reserve),144.957,-37.8218,1,1,0,0,Go for a walk to,0
206,1207,Richmond Football Club,Leisure/Recreation,Informal Outdoor Facility (Park/Garden/Reserve),144.988,-37.8217,1,1,0,0,Go for a walk to,0
212,1213,Queen Victoria Gardens,Leisure/Recreation,Informal Outdoor Facility (Park/Garden/Reserve),144.971,-37.8216,1,1,0,0,Go for a walk to,0
214,1215,Federation Square,Leisure/Recreation,Informal Outdoor Facility (Park/Garden/Reserve),144.969,-37.8179,1,1,0,0,Go for a walk to,0
216,1217,New Quay,Leisure/Recreation,Informal Outdoor Facility (Park/Garden/Reserve),144.942,-37.8152,1,1,0,0,Go for a walk to,0
217,1218,Docklands Park,Leisure/Recreation,Informal Outdoor Facility (Park/Garden/Reserve),144.947,-37.8210,1,1,0,0,Go for a walk to,0
220,1221,Point Park,Leisure/Recreation,Informal Outdoor Facility (Park/Garden/Reserve),144.942,-37.8234,1,1,0,0,Go for a walk to,0
221,1222,Newmarket Reserve,Leisure/Recreation,Informal Outdoor Facility (Park/Garden/Reserve),144.923,-37.7878,1,1,0,0,Go for a walk to,0
229,1230,Birrarung Marr,Leisure/Recreation,Informal Outdoor Facility (Park/Garden/Reserve),144.973,-37.8181,1,1,0,0,Go for a walk to,0
231,1232,Riverslide Skate Park,Leisure/Recreation,Informal Outdoor Facility (Park/Garden/Reserve),144.973,-37.8208,1,1,0,0,Go for a walk to,0
232,1233,Alexandra Gardens,Leisure/Recreation,Informal Outdoor Facility (Park/Garden/Reserve),144.972,-37.8206,1,1,0,0,Go for a walk to,0
233,1234,North Melbourne Recreation Reserve,Leisure/Recreation,Informal Outdoor Facility (Park/Garden/Reserve),144.941,-37.7988,1,1,0,0,Go for a walk to,0
234,1235,J.J Holland Park,Leisure/Recreation,Informal Outdoor Facility (Park/Garden/Reserve),144.924,-37.7982,1,1,0,0,Go for a walk to,0
235,1236,Royal Park,Leisure/Recreation,Informal Outdoor Facility (Park/Garden/Reserve),144.954,-37.7906,1,1,0,0,Go for a walk to,0
236,1237,Princes Park,Leisure/Recreation,Informal Outdoor Facility (Park/Garden/Reserve),144.961,-37.7870,1,1,0,0,Go for a walk to,0
238,1239,Shrine of Rembrance Reserve,Leisure/Recreation,Informal Outdoor Facility (Park/Garden/Reserve),144.974,-37.8321,1,1,0,0,Go for a walk to,0
239,1240,Royal Botanic Gardens,Leisure/Recreation,Informal Outdoor Facility (Park/Garden/Reserve),144.981,-37.8307,1,1,0,0,Go for a walk to,0
240,1241,Yarra Park,Leisure/Recreation,Informal Outdoor Facility (Park/Garden/Reserve),144.987,-37.8205,1,1,0,0,Go for a walk to,0
243,1244,Darling Square,Leisure/Recreation,Informal Outdoor Facility (Park/Garden/Reserve),144.989,-37.8130,1,1,0,0,Go for a walk to,0
244,1245,Flagstaff Gardens,Leisure/Recreation,Informal Outdoor Facility (Park/Garden/Reserve),144.955,-37.8111,1,1,0,0,Go for a walk to,0
246,1247,Fawkner Park,Leisure/Recreation,Informal Outdoor Facility (Park/Garden/Reserve),144.982,-37.8414,1,1,0,0,Go for a walk to,0
247,1248,Fitzroy Gardens,Leisure/Recreation,Informal Outdoor Facility (Park/Garden/Reserve),144.980,-37.8130,1,1,0,0,Go for a walk to,0
249,1250,Enterprize Park,Leisure/Recreation,Informal Outdoor Facility (Park/Garden/Reserve),144.959,-37.8202,1,1,0,0,Go for a walk to,0
255,1256,Argyle Square,Leisure/Recreation,Informal Outdoor Facility (Park/Garden/Reserve),144.966,-37.8031,1,1,0,0,Go for a walk to,0
256,1257,Piazza Italia,Leisure/Recreation,Informal Outdoor Facility (Park/Garden/Reserve),144.966,-37.8025,1,1,0,0,Go for a walk to,0
257,1258,Macarthur Square,Leisure/Recreation,Informal Outdoor Facility (Park/Garden/Reserve),144.972,-37.7983,1,1,0,0,Go for a walk to,0
258,1259,Murchinson Square,Leisure/Recreation,Informal Outdoor Facility (Park/Garden/Reserve),144.973,-37.8003,1,1,0,0,Go for a walk to,0
259,1260,Parliament Reserve,Leisure/Recreation,Informal Outdoor Facility (Park/Garden/Reserve),144.973,-37.8099,1,1,0,0,Go for a walk to,0
264,1265,Westgate Park,Leisure/Recreation,Informal Outdoor Facility (Park/Garden/Reserve),144.909,-37.8315,1,1,0,0,Go for a walk to,0
270,1271,Sandridge Rail Bridge,Leisure/Recreation,Informal Outdoor Facility (Park/Garden/Reserve),144.963,-37.8202,1,1,0,0,Go for a walk to,0
272,1273,Lincoln Square,Leisure/Recreation,Informal Outdoor Facility (Park/Garden/Reserve),144.963,-37.8028,1,1,0,0,Go for a walk to,0
195,1196,State Netball Hockey Centre,Leisure/Recreation,Major Sports & Recreation Facility,144.948,-37.7858,1,0,1,0,Go for a walk to,0
198,1199,Carlton Football Club,Leisure/Recreation,Major Sports & Recreation Facility,144.962,-37.7841,1,0,1,0,Go for a walk to,0
199,1200,Visy Park,Leisure/Recreation,Major Sports & Recreation Facility,144.962,-37.7834,1,0,1,0,Go for a walk to,0
203,1204,Flemington Racecourse,Leisure/Recreation,Major Sports & Recreation Facility,144.912,-37.7908,1,0,1,0,Go for a walk to,0
207,1208,Melbourne Cricket Ground (MCG),Leisure/Recreation,Major Sports & Recreation Facility,144.983,-37.8195,1,0,1,0,Go for a walk to,2
208,1209,Melbourne Zoo,Leisure/Recreation,"Outdoor Recreation Facility (Zoo, Golf Course)",144.951,-37.7844,1,0,1,0,Go for a walk to,0
218,1219,AAMI Park,Leisure/Recreation,Major Sports & Recreation Facility,144.984,-37.8247,1,0,1,0,Go for a walk to,0
223,1224,Wonderland Park,Leisure/Recreation,"Outdoor Recreation Facility (Zoo, Golf Course)",144.937,-37.8117,1,0,1,0,Go for a walk to,0
224,1225,Rod Laver Arena,Leisure/Recreation,Major Sports & Recreation Facility,144.978,-37.8220,1,0,1,0,Go for a walk to,0
225,1226,Melbourne Park,Leisure/Recreation,Major Sports & Recreation Facility,144.979,-37.8209,1,0,1,0,Go for a walk to,0
226,1227,Margaret Court Arena,Leisure/Recreation,Major Sports & Recreation Facility,144.978,-37.8213,1,0,1,0,Go for a walk to,0
227,1228,Hisense Arena,Leisure/Recreation,Major Sports & Recreation Facility,144.982,-37.8231,1,0,1,0,Go for a walk to,0
230,1231,Artplay,Leisure/Recreation,Indoor Recreation Facility,144.972,-37.8184,1,0,1,0,Go for a walk to,0
241,1242,Icehouse,Leisure/Recreation,Indoor Recreation Facility,144.936,-37.8122,1,0,1,0,Go for a walk to,0
242,1243,Riverside Park,Leisure/Recreation,"Outdoor Recreation Facility (Zoo, Golf Course)",144.916,-37.7948,1,0,1,0,Go for a walk to,0
245,1246,Melbourne Showgrounds,Leisure/Recreation,"Outdoor Recreation Facility (Zoo, Golf Course)",144.911,-37.7823,1,0,1,0,Go for a walk to,0
260,1261,North Melbourne Recreation Centre (Aquatic),Leisure/Recreation,Major Sports & Recreation Facility,144.943,-37.7999,1,0,1,0,Go for a walk to,0
261,1262,North Melbourne Recreation Centre (Gymnasium),Leisure/Recreation,Gymnasium/Health Club,144.940,-37.7997,1,0,1,0,Go for a walk to,0
262,1263,Carlton Baths,Leisure/Recreation,Indoor Recreation Facility,144.972,-37.7934,1,0,1,0,Go for a walk to,0
263,1264,City Baths,Leisure/Recreation,Major Sports & Recreation Facility,144.963,-37.8072,1,0,1,0,Go for a walk to,0
266,1267,Westpac Centre,Leisure/Recreation,Major Sports & Recreation Facility,144.980,-37.8242,1,0,1,0,Go for a walk to,0
268,1269,Etihad Stadium,Leisure/Recreation,Major Sports & Recreation Facility,144.947,-37.8162,1,0,1,0,Go for a walk to,0

In [ ]:
concat_new = concat.loc[concat['rating'] == 2]
if concat_new.empty():
    df_elements = concat.sample(n)
elif len(concat_new) < n:
    df_elements = concat.sample(n)
else:
    df_elements = concat_new.sample(n)



df_elements = df_elements.drop(['walking', 'cardio', 'sightseeing', 'green_space'], axis = 1)
# print(df_elements)

from math import radians, cos, sin, asin, sqrt
# HAVERSINE DISTANCE CALCULATION
def haversine(lon1, lat1, lon2, lat2):
    """
    Calculate the great circle distance in kilometers between two points 
    on the earth (specified in decimal degrees)
    """
    # convert decimal degrees to radians 
    lon1, lat1, lon2, lat2 = map(radians, [lon1, lat1, lon2, lat2])

        # haversine formula 
    dlon = lon2 - lon1 
    dlat = lat2 - lat1 
    a = sin(dlat/2)**2 + cos(lat1) * cos(lat2) * sin(dlon/2)**2
    c = 2 * asin(sqrt(a)) 
    r = 6371 # Radius of earth in kilometers. Use 3956 for miles. Determines return value units.
    return c * r

if 'Cycling' in pref:
    bike = pd.read_sql('''select * from bicycle''', conn)

    temp = bike

#     if not user.empty:

    bikemerged = pd.merge(temp, user, on = 'id', how = 'left')
    bikemerged['rating'] = bikemerged['rating'].fillna(0)
    bikemerged = bikemerged.astype({'rating': 'int64'})
    bike_high = bikemerged.loc[bikemerged['rating'] == 2]
    if not bike_high.empty:    
        selection = bike_high.sample(1)
    else:
        bikemerged = bike
        bikemerged['rating'] = 0
        bikemerged = bikemerged.astype({'rating': 'int64'})
        bike_high = bikemerged
        selection = bike_high.sample(1)

    if selection.empty:
        record = bike.sample(1)
    else:
        lon, lat = selection['longitude'], selection['latitude'] 
        bikemerged['haversine_calc'] = [haversine(lon,lat, bikemerged['longitude'][i], bikemerged['latitude'][i])for i in range(len(bike))]
        bikemerged = bikemerged[bikemerged["haversine_calc"]>0]
#         bikemerged = bikemerged.drop(['Unnamed: 0'], axis = 1)
        record = bikemerged.loc[bikemerged.haversine_calc == bikemerged.haversine_calc.min()]
        record = record.drop(['haversine_calc'], axis = 1)

    output = pd.concat([df_elements, record])
else:
    output = df_elements

# INDOOR ACTIVITY
indoor = pd.read_sql('''select * from indoor''', conn)

if not user.empty:

    indoor = pd.merge(indoor, user, on = 'id', how = 'left')
    indoor['rating'] = indoor['rating'].fillna(0)
    indoor = indoor.astype({'rating': 'int64'})
else:
    indoor['rating'] = 0

if 'Cardio' in pref:
    indoor_act = indoor.loc[indoor['theme'] == 'High Intensity']
    indoor_act = indoor_act.sample(3)

else:
    indoor_act = indoor.loc[indoor['theme'] == 'Low Intensity']
    indoor_act = indoor_act.sample(3)

if weather == 'Rain':
    indoor_act = indoor_act.sample(3)
    print(indoor_act)
else:
    indoor_act = indoor_act.sample(3)

output_final = pd.concat([output, indoor_act]).sample(4)